body {
  margin: 50px;
}

.chart-container {
  width: auto;
}

#first {
  text-align: center;
  padding: 20px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

#emailData {
  display: none;
}

.explainer {
  background-color: rgb(255,0,0,0.1);
  padding: 10px;
  border-radius: 5px;
}

#myChart {
  display: none;
  padding: 20px;
}

#inputdiv {
  padding: 30px;
}